<div>
  <ion-content class="ion-padding">
    <img src="https://media.staticontent.com/media/pictures/70a7eb77-8187-4cdb-bfd2-59c48268d3cf/605x107" alt="">
    <h1>Join us!</h1>
  
    <form [formGroup]="signForm">
      <ion-item>
        <ion-label position="floating">First Name</ion-label>
        <ion-input type="text" formControlName="firstname" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Last Name</ion-label>
        <ion-input type="text" formControlName="lastname" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Phone</ion-label>
        <ion-input type="number" formControlName="phone" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Address</ion-label>
        <ion-input type="text" formControlName="address" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Card Number</ion-label>
        <ion-input type="number" formControlName="card" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="{{ showPassword ? 'text' : 'password' }}" formControlName="password" required></ion-input>
        <ion-icon name="{{ showPassword ? 'eye' : 'eye-off' }}" slot="end" (click)="togglePasswordVisibility()"  class="password-icon"></ion-icon>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Confirm password</ion-label>
        <ion-input type="{{ showPassword ? 'text' : 'password' }}" formControlName="password_confirm" required></ion-input>
      </ion-item>
      <ion-text *ngIf="signForm.get('password_confirm')?.hasError('passwordMismatch')" color="danger" style="font-size: smaller;">
        Passwords do not match.
      </ion-text>
      <ion-button color="tertiary" expand="full" (click)="onSubmit()" [disabled]="!signForm.valid">Sign up</ion-button>
    </form>
    
    <p class="footer-text">Already have an account? <a routerLink="/login">Login</a></p>
  </ion-content>

</div>