// ion-card{
//     border-radius: 30px;
// }

// img{
//     width: 50%;
//     height: 50%;
//     border-radius: 20px;
// }

.add-city-card {
    position: relative;
    height: 20%;
    border-radius: 20px;
    margin-top: 1rem;

    .background-image-city {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url('https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D');
      background-size: cover;
      background-position: center;
      filter: brightness(0.5);
    }
    .background-image-flight {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url('https://w0.peakpx.com/wallpaper/557/864/HD-wallpaper-flight-landing-runway-take-off.jpg');
      background-size: cover;
      background-position: center;
      filter: brightness(0.5);
    }
  
    .card-content {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      text-align: center;
  
      h2 {
        font-size: 25px;
        font-weight: bold;
      }  
    }
  }
  