<ion-app>
  <ion-menu side="start" contentId="main" *ngIf="getAuth()">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
          <ion-menu-toggle>
            <ion-button>
              <ion-icon name="airplane-outline"></ion-icon>
            </ion-button>
          </ion-menu-toggle>
        </ion-buttons>
        <ion-title>Avianca</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/admin" *ngIf="getType() == 'admin'">
            <ion-icon slot="start" name="options-outline"></ion-icon>Admin
          </ion-item>

          <ion-item routerLink="/home" *ngIf="getType() == 'user'">
            <ion-icon slot="start" name="home-outline"></ion-icon>Home
          </ion-item>

          <ion-item routerLink="/mytickets" *ngIf="getType() == 'user'">
            <ion-icon slot="start" name="ticket-outline"></ion-icon>My Tickets
          </ion-item>
          
          <ion-item routerLink="/user">
            <ion-icon slot="start" name="settings-outline"></ion-icon>Settings
          </ion-item>
          
          <ion-item (click)="logout()">
            <ion-icon slot="start" name="log-out-outline"></ion-icon>Logout
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
