.center-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 760px;
}

.center-button {
    display: block;
    margin: 2rem auto;
    max-width: 300px;
}

.small-text {
    font-size: 13px;
}

.medium-text {
    font-size: 16px;
}

.card{
    border-radius: 18px;
}

.notifications-modal{
    padding: 15% 5% 5% 5%;
}

.center-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
}