<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button id="notifications-modal">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center-div">
    <div class="center-title">
      <h2 style="margin-left: 10%;">Find your dream destination</h2>
      <ion-buttons slot="end" style="margin-right: 10%;">
        <ion-button>
          <ion-icon name="golf-outline"></ion-icon>
        </ion-button>
      </ion-buttons>    
    </div>
  </div>

  <ion-button class="center-button" shape="round" color="tertiary" (click)="openFlightFilterPopover($event)">
    Filter for a flight
  </ion-button>

  <ion-segment value="all" scrollable (ionChange)="segmentChanged($event)">
    <ion-segment-button value="all">
      <ion-label>All</ion-label>
    </ion-segment-button>
    <ion-segment-button value="recommended">
      <ion-label>Recommended</ion-label>
    </ion-segment-button>
    <ion-segment-button value="america">
      <ion-label>America</ion-label>
    </ion-segment-button>
    <ion-segment-button value="europe">
      <ion-label>Europe</ion-label>
    </ion-segment-button>
    <ion-segment-button value="africa">
      <ion-label>Africa</ion-label>
    </ion-segment-button>
    <ion-segment-button value="asia">
      <ion-label>Asia</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-grid>
    <ion-row>
      <ion-col [size]="getDynamicSize()" *ngFor="let city of (cities | async) | navFilter:continent:'continent'">
        <ion-card class="card" (click)="filterByCity(city.id)">
          <ion-img class="size-img" src="{{city.img}}"></ion-img>
          <ion-card-header>
            <ion-card-title class="medium-text">{{city.city}}</ion-card-title>
            <ion-card-subtitle class="small-text">{{city.country}}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-modal trigger="notifications-modal" #notificationsModal class="notifications-modal">
  <ng-template>
    <app-notification></app-notification>
  </ng-template>
</ion-modal>
